<div class="row">
    <div class="col-sm-9">
        <h5 *ngIf="team"> {{team.name}} <small> <i> {{ getTeamManagers() }} </i> </small></h5>
    </div>
    <div class="col-sm-3 pull-right text-right">
        <h4>
            <ft-month-picker (monthChanged)="monthChanged($event)"></ft-month-picker>
        </h4>
    </div>
</div>


<div class="table-responsive">
    <table class="table table-bordered table-sm calendar" *ngIf="calendarEntries">
        <thead>
            <th> {{ selectedMonth | date: 'yyyy MMMM' }} </th>
            <th *ngFor="let usage of calendarEntries[0].deskUsages" class="text-center calendar-date-col calendar-date-col-header" [class.calendar-today]="isToday(usage.date)">
                {{ usage.date | date: 'EEE dd' }}
            </th>
        </thead>
        <tbody>
            <tr>
                <td class="text-nowrap"><b> Desk Usages [Max: {{team.desks}}] </b> </td>
                <td *ngFor="let usage of calendarEntries[0].deskUsages" class="text-center" ft-show-desk-usage [currentDeskUsage]="getDeskUsageCount(usage.date)"
                    [teamDeskTotal]="team.desks"> </td>
            </tr>
            <tr *ngFor="let entry of calendarEntries">
                <td class="text-nowrap"> {{ entry.person.name }} </td>

                <td *ngFor="let usage of entry.deskUsages" class="calendar-usage-cell" [style.background-color]="getUsageColorCode(usage.usageTypeId)"
                    (click)="editUsageType(editDeskUsage, entry.person, usage)">
                    <i *ngIf="usage.comment" tooltip="{{usage.comment}}" class="fa fa-caret-up fa-rotate-45 comment-icon"> </i>
                </td>
            </tr>
            <tbody>
    </table>
</div>

<div class="row">
    <div class="col-sm-12">
        <ng-container *ngFor="let legend of calendarLegends">
            <div class="col">           
                <div [style.background-color]="legend.colorCode" class="legend-icon"></div>
                <div class="legend-text">{{ legend.description }} </div>
            </div>          
        </ng-container>
    </div>
</div>

<ng-container *ngIf="isUpdateCalendar == true">
    <p-dialog header="Edit Desk Usage" [(visible)]="isUpdateCalendar" width="350" modal="true" dismissableMask="true">
        <form (ngSubmit)="updateCalendar()" #editForm="ngForm">
            <div class="form-group">
                <label> Person: </label> {{ editPerson.name }}
            </div>
            <div class="form-group">
                <label> Date: </label> {{ editDeskUsageEntry.date | date: 'fullDate'}}
            </div>
            <div class="form-group">
                <label> End Date: </label>
                <input type="date" class="form-control" [ngModel]="editingEndDate | date:'y-MM-dd'" min="{{editDeskUsageEntry.date | date: 'y-MM-dd'}}"
                    (ngModelChange)="editingEndDate=$event" name="endDate" required>
            </div>
            <div class="form-group">
                <label> Usage Type: </label>
                <select size="1" class="form-control" [(ngModel)]="editDeskUsageEntry.usageTypeId" name="usageType" required>
                    <option *ngFor="let usageType of usageTypes" [ngValue]="usageType.id"> {{usageType.description}} </option>
                </select>
            </div>
            <div class="form-group">
                <label>Comment: </label>
                <textarea type="text" rows="2" placeholder="Reason..." name="comment" [(ngModel)]="editDeskUsageEntry.comment" class="form-control"></textarea>
            </div>
            <p-footer>
                <div class="ui-dialog-buttonpane ui-helper-clearfix">
                    <button type="submit" class="btn btn-primary" [disabled]="!editForm.form.valid"> Save </button>
                </div>
            </p-footer>
        </form>
    </p-dialog>
</ng-container>