<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
    <a class="navbar-brand" href="#"></a>
    <ul class="nav navbar-nav mr-auto d-md-down-none">
        <li class="nav-item">
            <a class="nav-link navbar-toggler sidebar-toggler" href="#" appSidebarToggler>&#9776;</a>
        </li>
    </ul>
</header>

<div class="app-body">
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-calendar"></i> Calendar <span class="badge badge-info">NEW</span></a>
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/teams']"><i class="icon-list"></i> Teams </a>
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/members']"><i class="icon-people"></i> Members </a>
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/reports']"><i class="icon-graph"></i> Reports </a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <app-breadcrumbs></app-breadcrumbs>
        </ol>

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <!-- /.conainer-fluid -->
    </main>
</div>

<footer class="app-footer">
    <a href="https://www.brickendon.com">Workplace Planner</a> &copy; 2017 Brickendon.
</footer>
