<span class="clickable" (click)="yearTraverse(-1)"><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
<span> {{ date | date : 'yyyy' }}  </span>
<span class="clickable" (click)="yearTraverse(1)"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
<span class="clickable" (click)="open()"><i class="fa fa-calendar" aria-hidden="true"></i></span>
<ul class="datepicker-ul" role="menu" style="position: absolute; z-index:10; min-height: 290px;" *ngIf="opened">
    <datepicker [(ngModel)]="date" [showWeeks]="false" [minMode]="'year'" (selectionDone)="hidePopup($event)" [datepickerMode]="'year'"></datepicker>
</ul>
