<ft-page-header [title]="'Team Members'"></ft-page-header>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-block">
        <button class="btn btn-primary" (click)="addNewUsers()"> Add New Users </button>

        <div class="pull-right">
          <ft-team-picker [selectedTeamId]="selectedTeamId" (teamChanged)="teamChanged($event)"></ft-team-picker>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-5">
    <div class="card">
      <div class="card-header">
        <b>All Users </b>
        <div class="pull-right"> <input type="text" [(ngModel)]="userFilter"> <i class="fa fa-filter" aria-hidden="true"></i> </div>
      </div>
      <div class="card-block">
        <ul class="list-group">
          <li *ngFor="let user of getAllUsers() | ftFilterUsers: userFilter" class="list-group-item">
            <p-checkbox name="groupname" value="{{user.id}}" [(ngModel)]="usersToAdd"></p-checkbox>
            {{user.firstName}} {{user.lastName}}
            <span *ngIf="user.team" class="badge badge-info"> {{user.team.name}} </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-2 text-center">
    <div class="btn-group-vertical" style="padding-top:50px;">
      <button type="button" class="btn btn-outline-primary" (click)="addMembers()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
      <br />
      <button type="button" class="btn btn-outline-primary" (click)="removeMembers()"><i class="fa fa-angle-double-left" aria-hidden="true"></i></button>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="card">
      <div class="card-header">
        <b> Team Members </b>
      </div>
      <div class="card-block">
        <ul class="list-group">
          <li *ngFor="let member of teamMembers" class="list-group-item">
            <p-checkbox name="groupname" value="{{member.id}}" [(ngModel)]="membersToRemove"></p-checkbox>
            {{member.user.firstName}} {{member.user.lastName}} </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<p-dialog header="Add New User" [(visible)]="showAddUsersDialog" width="350" modal="true" dismissableMask="true">
  <ft-add-user (onUpdated)="userUpdated($event)" [userId]="0"></ft-add-user>
</p-dialog>