<ft-page-header [title]="'Team Members'"></ft-page-header>

<div class="row">
  <div class="col-sm-9">
    <div class="panel">
      <div class="panel-heading">
        <h4>Import</h4>
      </div>
      <div class="panel-body">
          <div class="row"  title="Import the Excel file in the following format: Team (optional), Email">
            <div class="col-sm-5">
              <input type="text" class="import-textbox"
                placeholder="Please select Excel file"
                id="importFileBox" [(ngModel)]="filename">
            </div>
            <div class="col-sm-2">
              <label class="btn btn-primary import-buttons">
                Browse&hellip;
                <input type="file" class="hidden" name="importFile" [(ngModel)]="filename">
              </label>
            </div>
            <div class="col-sm-2">
              <button type="button" class="btn btn-primary import-buttons" [disabled]="filename == ''">
                Process
              </button>
            </div>
          </div>
          <div style="margin-top:0.5em;" class="row"  title="Add a person by email">
            <div class="col-sm-5 col-md-5">
              <input class="import-textbox" type="email" name="importEmail"
                placeholder="Please enter an email"
                [(ngModel)]="email">
            </div>
            <div class="col-sm-4 col-md-4">
              <button type="button" class="btn btn-primary import-buttons" [disabled]="importEmail == ''"
                  (click)="onAddEmail($event, { email: email })">
                Add
              </button>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div>
      <div class="panel panel-default" title="Drag a person here to remove from the lists below">
          <div class="panel-body"
              dnd-sortable-container
              (onDropSuccess)="addedToRecycle($event)"
              [dropZones]="['members-zone']"
              [sortableData]="listRecycled">
              <i class="fa fa-3 fa-recycle"></i>
              Recycle bin<br/>
          </div>
      </div>
      <div *ngIf="listRecycled.length">
      <b>Recycled:</b> <span *ngFor="let item of listRecycled">{{item.personDetails}} </span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h4>Unassigned to teams</h4>
      </div>
      <div class="panel-body"
           dnd-sortable-container
           (onDropSuccess)="addedToUnassigned($event)"
           [dropZones]="['members-zone']"
           [sortableData]="listUnassigned">
         <ul class="list-group">
             <li *ngFor="let item of listUnassigned; let i = index"
                 class="list-group-item"
                 dnd-sortable
                 [sortableIndex]="i">
                 <i *ngIf="item.roleTypeID > 1" class="fa fa-group"></i>
               {{item.personDetails}}
             </li>
         </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-1">
    <div class="panel panel-info">
    </div>
  </div>
  <div class="col-sm-5">
    <div class="panel panel-info">
    <div class="panel-heading">
    <h4>{{teamName}}</h4>
    </div>
    <div class="panel-body"
         dnd-sortable-container
         (onDragSuccess)="removedFromTeam($event)"
         (onDropSuccess)="addedToTeam($event)"
         [dropZones]="['members-zone']"
         [sortableData]="listTeamMembers">
      <ul class="list-group">
          <li *ngFor="let item of listTeamMembers; let i = index"
              class="list-group-item"
              dnd-sortable
              [sortableIndex]="i">
              <i *ngIf="item.roleTypeID > 1" class="fa fa-group"></i>
            {{item.personDetails}}
          </li>
      </ul>
    </div>
    </div>
  </div>
</div>
